.DS_Store
__pycache__/
*.pyc
data/raw/pbp/
data/raw/mp_shots/
data/raw/hr_html/
data/raw/nhl_reports/
data/raw/edge/
data/raw/fastrhockey/
data/raw/shifts/
data/raw/pbp_po/
data/raw/player_landing/
data/raw/edge_players/
